<h1>Sign Up</h1>

<%= simple_form_for @user do |f| %>
  <div class="form-inputs">
    <h3>Login info</h3>
    <%= f.input :email, as: :email_hint %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <%= simple_fields_for @company do |fields| %>
      <h3>Company info</h3>
      <%= fields.input :name %>
      <%= fields.input :website, as: :url_hint %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
